<html>

<head>


</head>

<body>
  
  <!-- <login></login>`
<register></register>
<emps></emps> -->
  <div class="container">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <h3>{{ orgName|titlecase }}</h3>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">REGISTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="emps">EMPLOYEES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tform">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>

</body>

</html>
<router-outlet></router-outlet>