<html>

<head>

</head>

<body>
    <div class="container">
        <table class="table table-striped">
            <tr class="table-dark">
                <th>Empno</th>
                <th>Empname</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Salary</th>
            </tr>
            <tr *ngFor="let emp of emps" class="table-primary">
                <td>{{ emp.empcode }}</td>
                <td>{{ emp.name|gender:emp.gender }}</td>
                <td>{{ emp.dateOfBirth|date:'fullDate' }}</td>
                <td>{{ emp.gender }}</td>
                <td>{{ emp.sal|currency:'INR' }}</td>
            </tr>
            <tr *ngIf="emps.length==0"> No Employees Found</tr>
        </table>
    </div>
</body>

</html>